@charset "UTF-8";
@font-face { font-family:"Glacial Indifference";src:url("#FontID0") format(svg)}
.fil0 {fill:#373435}
.fil1 {fill:#211E20}
.fil2 {fill:#8C8B8C}
.fnt0 {font-weight:normal;font-size:104.95px;font-family:'Glacial Indifference'}
.fnt1 {font-weight:normal;font-size:195.79px;font-family:'Glacial Indifference'}
